title = "kart_stocks"

[twitch]
bot_channel = ""
racer_channel = ""
client_id = ""
client_secret = ""
redirect_port = 3000
debug_messages = false

[llm]
cycle_time = 5 # seconds
port = 8080
model_path = "./llama-model/model.gguf"
mmproj_path = "./llama-model/mmproj.gguf"
disable_gpu = false

[obs]
ip = "127.0.0.1"
port = 4455
password = ""

[game]
database_path = "./portfolio.sqlite"
starting_money = 100
initial_price = 22 # before race starts
base_price = 30.0
place_target = 12 # above good, below bad: on race end
volatility = 1.6
confidence = 0.3
# weights should add to 1
place_weight = 0.6
items_weight = 0.35
coins_weight = 0.05

[window]
title = "Kart Stocks"
width = 600
height = 500
border = 10.0
float_time = 3000 # milliseconds
